$defaultHeight: 80px;
$logoWidth: $defaultHeight - 10px;
$textHeight: $defaultHeight/2;
$textFontSize: 28px;
$maxLeftWidth: 150px;

.broadcast-container {
  flex-direction: row;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #ffffff;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.flex_v_center {
  justify-content: center;
}

.broadcast-left {
  flex-direction: row;
  align-items: center;
  height: $defaultHeight - 30px;
  max-width: $maxLeftWidth;
}

.logo_icon {
  width: $logoWidth;
  height: $logoWidth;
  margin-right: 15px;
}

.vertical_line {
  border-right-width: 1px;
  border-right-color: #e6e6e6;
  border-right-style: solid;
  height: 50px;
}

.horn-icon {
  width: $textHeight;
  height: $textHeight;
  align-items: center;
  margin-right: 15px;
}

.text-overflow {
  font-size: $textFontSize;
  line-height: $textHeight - 7px;
  max-height: $textHeight - 7px;
  text-overflow: ellipsis;
  lines: 1;
}

.text-title {
  color: red;
}

.anim {
  flex: 1;
  //height: $defaultHeight;
}

.text-info {
  color: #3c3c3c;
}