# Created by .ignore support plugin (hsz.mobi)
node_modules
.idea
.gradle
*.iml
.temp
genode
build
*.properties
oak/oak_taro_starter/lib/modules
package-lock.json
yarn.lock
lerna-debug.log
*-debug.log
*-error.log
dist
dist_web
coverage
*.tgz
lib
*.lock