.flex_v_center {
  align-items: center;
}

.flex_row {
  flex-direction: row;
}

.flex_cell {
  flex: 1;
  max-width: 750px;
}

.loading_text {
  font-size: 30px;
  color: #9c9c9c;
  text-align: center;
  padding-left: 10px;
}