@import "../../theme/defualt_theme";

/*--weex 中暂时没有找到支持 "//" 注解的方式--*/

/*--导航栏高度--*/
@nav-bar-height: 100px;

/*--导航栏背景色--*/
@nav-bar-background-color: @fill-base;

/*--导航栏左侧宽度--*/
@nav-bar-left-width: 120px;

/*--导航栏中间宽度--*/
@nav-bar-center-width: @render-width - @nav-bar-left-width * 2;

/*--导航栏右侧宽度--*/
@nav-bar-right-width: 120px;

/*--标题字号--*/
@nav-bar-title-font-size: 36px;

/*--标题默认颜色--*/
@nav-bar-title-color: #303030;

.nav-container {
  background-color: @nav-bar-background-color;
  justify-content: center;
  align-items: center;
}

.nav-bar {
  flex-direction: row;
  height: @nav-bar-height;
  width: @render-width;
  align-items: center;
  justify-content: center;

}

.nav-bar-left {
  position: absolute;
  height: @nav-bar-height;
  width: @nav-bar-left-width;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  left: 0;
  top: 0;
}

.nav-bar-center {
  width: @nav-bar-center-width;
}

.nav-bar-title {
  font-size: @nav-bar-title-font-size;
  color: @nav-bar-title-color;
  text-overflow: ellipsis;
  font-weight: 500;
  text-align: center;
  //weex 特有  绝望
  lines: 1;
  flex: 1;
}

.nav-bar-right {
  justify-content: center;
  align-items: center;
  position: absolute;
  height: @nav-bar-height;
  width: @nav-bar-right-width;
  right: 0;
  top: 0;
}